@media  only screen and (min-width: 601px) {
    
section {
    float: left;
    margin-top: 2em;

    
}

aside {
    float: right;
    margin-top: 2em;
    margin-bottom: 5em;
}

article form {
        margin-top: 2.5em;  
        margin-bottom: 2.0em;
    }
    
article form legend {
        margin-bottom: .5em;
    }
    
article form input {
        margin: .05em;
}
        
label {
    margin-top: .1em;
    display: block;
    width: 5em;
    text-align: right;
    float: left;
    margin-right: .8em; 
    color: darkblue;
    }

article ul {
    margin-top: 1.5em;
    margin-left: .5em;
    list-style-type: none;
}

article ul li {
    text-decoration: none;
}

}


