/* Fluid design using media queries */

@media  only screen and (max-width: 600px) {
    
    body {
        background-color: white;
        font-family: arial, sans-serif;
        color: black;
    }
    
    main {
        width: 100%;
    }
    
    header {
        height: 6em;
        text-align: center;
    }
    
    header img {
        height: 2em;
        margin-bottom: 10px;
    }
    
    nav {
        height: auto;
        background-color: darkblue;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0 25%;
        padding: 0;
        background-color: darkblue;
        overflow: hidden;
    }

    nav ul li {
        
    }

    nav ul li a{
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 1em .78em;
    }

    nav ul li a:hover {
        color: aqua;
        background-color: #222;
    }

    nav ul li a:active {
        color: #06fc3e;
        background-color: #ffbc06;
    }

    
    section {
        overflow: hidden;
        padding: 1em 2em;
        
    }
    
    aside {
        min-height: 5em;
        padding: 1em 0em;
    }
    
    article {
        min-height: 5em;
        padding: 1em 0em;
    }
    
    footer {
        min-height: 3em;
        background-color: white;
        padding: 1em 2em;
    }
    
    section .jose {
    float: left;
    margin-top: 6em;
    margin-bottom: 2em;
    margin-left: 1.5em;
    width: 320px;
    height: 360px;
    color: black;
    }
    
section table {
    color: black;
    width: 90%;
    margin-top: 8.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    font-size: 130%;
    background-color: #fffcf1;
    box-shadow: 1px 2px 1px  #676767;
    }  
Section table thead th {
    font-size: 280%;
    font-family: cursive;
    text-align: center;
    margin: 2em 2em;
    padding: .8em .8em;
    }

section table thead th {
    background-color: #ededed;       
    }
section table tr td {
    padding: .5em .5em;
   
    }
section table, tr, th {
       border: 1.5px solid black; 
    }
#lid {
        text-align: right;
    }

.pLunch {
    width:70%;
    height: 80%;
    margin: .5em;
    margin-bottom: 0.2em;
    }
#ep {
    margin-top: .01em;
    margin-left: .5em;
    font-size: 60%;
    }
    
#ttacos #tp {
        margin-top: 0.05em;
        font-size: 20%;
    }
    
    
.bM {
    width: 40%;
    margin-top: .05em;
    margin-bottom: 0.3em;
    background-color: #fffcf1;
    }
    
.bM th {
    text-align: center;
    font-size: 160%;
    background-color: #ededed;
    }
.bM tr td {
    text-align: center;
    border: 1px solid black;
    } 
    
#bmp {
    font-size: 40%;
    margin-top: 0.1em;
    }
#bh2 {
    float: left;
    font-size: 300%;
    margin-left: 1.5em;
    margin-top: 3em;
    margin-bottom: 3em;
        
    }

.mpic {
    float: right;
    margin-top: 7em;
    margin-left: 2em;
    margin-right: 15em;
    margin-bottom: 3em;
    width: 150px;
    box-shadow: -2px 4px 4px #676767;
    }
    
#minfo  {
    font-size: 300%;
    font-family: cursive;
    margin-left: 1em;
    margin-top: 3em;
    float: left;
    } 
    
    
#mh3  {
    font-size: 180%;
    margin-left: 1em;
    margin-bottom: 0.3em;
    } 
    
#mp {
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 0.5em;
    font-size: 150%;
    font-family: cursive;
    }
    
.mul {
    list-style-type: none;
    margin-top: 0.5em;
    }

.tacop {
     width: 20%;
    float: right;
    margin-right: 5em;
    margin-top: 8em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    box-shadow: 8px 6px 8px black;
    }
    
   
}

/* media querie for desktop layout */

@media  only screen and (min-width: 601px) {
    
body {
        background-color: white;
        font-family: arial, sans-serif;
        
    }
    
main {
        width: 90%;
        max-width: 1000px;
        color: darkblue;
        margin: 0 auto;
    }
    
header {
        height: 6em;
        background-color: white;
        background-image: url(images/con_logo.jpg);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        margin-top: 2.5em;
        margin-left: .5em;
        margin-bottom: 3.5em;
        
    }
    
header h1 {
        margin-top: .5em;
        font-size: 450%;
        font-family: cursive;
        
    }
    
 a:link {
        text-decoration: none;
    }
nav {
    height: 2.1em;
    background-color: white;
    font-size: 120%;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    position: relative;
    width: 9.1em;
    text-align: center;
    padding: .5em;
}
nav ul li ul {
    display: none;
    position:absolute;
    margin-top: 9px;
}
nav ul li:hover ul{
    display: block;
    background-color: white;
    font-family: cursive;
}
nav ul li ul li:hover{
    display: block;
    background-color: #ebebeb;
}

nav a:link, nav a:visited {
    font-family: cursive;
    text-decoration: none;
    color: darkblue;
    }
nav li:hover a{
        color: black;
    }    
    
section {
        overflow: hidden;
        clear: both;
    }
    
section img {
        height: 350px;
        float: left;
        margin-top: .4em;
        margin-bottom: .2em;
        margin-right: .5em;
        box-shadow: -4px -4px 5px black;
        border-bottom: .5em solid black;
        width: 50%;
        margin: 5.5em;
        border-radius: 10px;
    }

section h3 {
        margin-top: 2.5em;
        font-size: 40px;
    }
    
section p {
        margin-top: 6em;
        font-size: 20px; 
        color: black;
    }
    
aside {
        width: 40%;
        min-height: 8em;
        float: left;
    }

    
article {
        width: 60%;
        min-height: 8em;
        float: right;
    }
    
footer {
        clear: both;
        min-height: 5em;
        text-align: center;
    }
    
section .jose {
    float: left;
    margin-top: 6em;
    margin-bottom: 2em;
    margin-left: 1.5em;
    width: 320px;
    height: 360px;
    color: black;
    }
    
section table {
    color: black;
    width: 90%;
    margin-top: 8.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    font-size: 130%;
    background-color: #fffcf1;
    box-shadow: 1px 2px 1px  #676767;
    }  
Section table thead th {
    font-size: 280%;
    font-family: cursive;
    text-align: center;
    margin: 2em 2em;
    padding: .8em .8em;
    }

section table thead th {
    background-color: #ededed;       
    }
section table tr td {
    padding: .5em .5em;
   
    }
section table, tr, th {
       border: 1.5px solid black; 
    }
#lid {
        text-align: right;
    }

.pLunch {
    width:70%;
    height: 80%;
    margin: .5em;
    margin-bottom: 0.2em;
    }
#ep {
    margin-top: .01em;
    margin-left: .5em;
    font-size: 60%;
    }
    
#ttacos #tp {
        margin-top: 0.05em;
        font-size: 20%;
    }
    
    
.bM {
    width: 40%;
    margin-top: .05em;
    margin-bottom: 0.3em;
    background-color: #fffcf1;
    }
    
.bM th {
    text-align: center;
    font-size: 160%;
    background-color: #ededed;
    }
.bM tr td {
    text-align: center;
    border: 1px solid black;
    } 
    
#bmp {
    font-size: 40%;
    margin-top: 0.1em;
    }
#bh2 {
    float: left;
    font-size: 300%;
    margin-left: 1.5em;
    margin-top: 3em;
    margin-bottom: 3em;
        
    }

.mpic {
    float: right;
    margin-top: 7em;
    margin-left: 2em;
    margin-right: 15em;
    margin-bottom: 3em;
    width: 150px;
    box-shadow: -2px 4px 4px #676767;
    }
    
#minfo  {
    font-size: 300%;
    font-family: cursive;
    margin-left: 1em;
    margin-top: 3em;
    float: left;
    } 
    
    
#mh3  {
    font-size: 180%;
    margin-left: 1em;
    margin-bottom: 0.3em;
    } 
    
#mp {
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 0.5em;
    font-size: 150%;
    font-family: cursive;
    }
    
.mul {
    list-style-type: none;
    margin-top: 0.5em;
    }

.tacop {
     width: 20%;
    float: right;
    margin-right: 5em;
    margin-top: 8em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    box-shadow: 8px 6px 8px black;
    }
    
 section #gi {
        width: 30%;
        margin-left: 20em;
        margin-top: 3em;
        margin-bottom: 0.1em;
        margin-right: auto;
    }
    
    #gp {
        
        clear: both;
        margin-top: .1em;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
    
    #g3 {
        margin-left: 1em;
        margin-top: 5em;
        font-size: 250%;
        text-align: center;
    }


    
}
    
    
    